<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Stock Checker Test Suite">
    <!-- Define listeners for report generation -->
    <listeners>
        <listener class-name="org.testng.TestListenerAdapter"/>
    </listeners>

    <!-- Define test with included classes -->
    <test name="Stock Symbol Tests">
        <classes>
            <class name="org.test.tests"/>
        </classes>
    </test>
</suite>